.wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 77px 84px;
  border-radius: 60px;
  background-color: var(--white);
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}

.subtitle {
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 16px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.inputWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.input {
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 16px;
  width: 424px;
  height: 52px;
  &::placeholder {
    color: rgba(38, 38, 38, 0.5);
  }
}

.inputError {
  border-color: red;
}

.inputSuccess {
  border-color: green;
}

.inputActive {
  border-color: yellow;
}

.icon {
  position: absolute;
  left: 388px;
  top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.eyeButton {
  position: absolute;
  left: 372px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
}

.error {
  font-size: 12px;
  left: 16px;
  position: absolute;
  top: 52px;
  color: red;
}

.button {
  border: none;
  border-radius: var(--border-radius);
  padding: 16px;
  height: 52px;
  background-color: var(--button-background-accent);

  color: var(--link-text);
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.linkWrapper {
  align-self: center;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 2px;
  font-size: 14px;
}

.text {
  line-height: 1.43;
  letter-spacing: -0.03em;
  opacity: 0.5;
}

.link {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--link-color);
}
