@font-face {
  font-display: swap;
  font-family: "Manrope";
  font-style: medium;
  font-weight: 500;
  src: url("../fonts/Manrope-Medium.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Manrope";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/Manrope-Bold.woff2") format("woff2");
}

:root {
  --font-family: system-ui, Manrope, sans-serif;
  --font-weight: 500;
  --font-weight: 16px;

  --background-color: #f9f9f9;
  --white: #fff;
  --accent: #f6b83d;

  --border-radius: 30px;

  --color: #262626;
  --link-color: #f6b83d;
  --link-text: #fff;
  --link-border: #fff4df;

  --link-color-hover: #fff4df;
  --link-text-hover: #f6b83d;
  --link-border-hover: #f6b83d;

  --button-background-accent: #f6b83d;
  --button-background-light: #fff4df;

  --border: 1px solid rgba(38, 38, 38, 0.15);

  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: none;
  overflow: hidden;
  opacity: 0;
  z-index: -1;
}

/* --------RESET-------- */

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  color: var(--color);
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ol,
ul {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: var(--transition);
}

input,
textarea {
  outline: none;
}

svg {
  display: inline-flex;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

address {
  font-style: normal;
}

/* --------COMMON STYLES-------- */

html,
body {
  height: 100%;
}

header,
footer {
  flex-shrink: 0;
}

main {
  flex: 1;
  display: flex;
  align-items: stretch;
  justify-content: center;
}
