.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 119px 0;

  background-color: var(--accent);
  border-radius: var(--border-radius);

  width: 100%;
  height: 100%;
}

.numWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 40px;
}

.num {
  font-weight: 800;
  font-size: 300px;
  line-height: 100%;
  color: var(--white);
}

.img img {
  width: auto;
  height: 300px;
}

.text {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  color: var(--white);
  margin-bottom: 20px;
}

.link {
  border-radius: 30px;
  padding: 14px 30px;
  background: #fff4df;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.03em;
  color: var(--accent);
}
